{% extends 'base.html' %}
{% block content %}
  {% load static %}

  <div class="card mt-2">
    <div class="card-header">
      <h3 class="card-title">设备列表</h3>
    </div>
    <div class="card-body">
      <table id="table1" class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>设备名称</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr>
              <td><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

  <script>
    $(function () {
      $('#table1').DataTable({
        language: {
          search: '搜索：'
        },
        lengthChange: false,
        searching: true,
        ordering: true,
        info: true,
        autoWidth: false,
        responsive: true
      })
    })
  </script>
{% endblock %}
